[QBOT]
VERSION = 000-000-005

[EXTERNAL_AXIS]
EXTERNALAXIS_INSTALL = 0
EXTERNALAXIS1_TYPE = 0
EXTERNALAXIS1_DIRECT = 0
EXTERNALAXIS1_MAXPOS = 1000
EXTERNALAXIS1_MINPOS = -1000
EXTERNALAXIS1_VEL = 1000
EXTERNALAXIS1_ACC = 1000
EXTERNALAXIS1_LEAD = 14.13
EXTERNALAXIS1_RESOLUTION = 4000
EXTERNALAXIS1_OFFSET = 200
EXTERNALAXIS1_COMPANY = 0
EXTERNALAXIS1_MODEL = 0
EXTERNALAXIS1_ENCTYPE = 0

EXTERNALAXIS2_TYPE = 0
EXTERNALAXIS2_DIRECT = 0
EXTERNALAXIS2_MAXPOS = 1000
EXTERNALAXIS2_MINPOS = -1000
EXTERNALAXIS2_VEL = 1000
EXTERNALAXIS2_ACC = 1000
EXTERNALAXIS2_LEAD = 14.13
EXTERNALAXIS2_RESOLUTION = 4000
EXTERNALAXIS2_OFFSET = 200
EXTERNALAXIS2_COMPANY = 0
EXTERNALAXIS2_MODEL = 0
EXTERNALAXIS2_ENCTYPE = 0

EXTERNALAXIS3_TYPE = 0
EXTERNALAXIS3_DIRECT = 0
EXTERNALAXIS3_MAXPOS = 1000
EXTERNALAXIS3_MINPOS = -1000
EXTERNALAXIS3_VEL = 1000
EXTERNALAXIS3_ACC = 1000
EXTERNALAXIS3_LEAD = 14.13
EXTERNALAXIS3_RESOLUTION = 4000
EXTERNALAXIS3_OFFSET = 200
EXTERNALAXIS3_COMPANY = 0
EXTERNALAXIS3_MODEL = 0
EXTERNALAXIS3_ENCTYPE = 0

EXTERNALAXIS4_TYPE = 0
EXTERNALAXIS4_DIRECT = 0
EXTERNALAXIS4_MAXPOS = 1000
EXTERNALAXIS4_MINPOS = -1000
EXTERNALAXIS4_VEL = 1000
EXTERNALAXIS4_ACC = 1000
EXTERNALAXIS4_LEAD = 14.13
EXTERNALAXIS4_RESOLUTION = 4000
EXTERNALAXIS4_OFFSET = 200
EXTERNALAXIS4_COMPANY = 0
EXTERNALAXIS4_MODEL = 0
EXTERNALAXIS4_ENCTYPE = 0

EXTERNALAXIS_OFFSET_X = 0
EXTERNALAXIS_OFFSET_Y = 0
EXTERNALAXIS_OFFSET_Z = 0
EXTERNALAXIS_OFFSET_A = 0
EXTERNALAXIS_OFFSET_B = 0
EXTERNALAXIS_OFFSET_C = 0
EXTERNALAXIS_REFPOINT_X = 0
EXTERNALAXIS_REFPOINT_Y = 0
EXTERNALAXIS_REFPOINT_Z = 0
EXTERNALAXIS_REFPOINT_A = 0
EXTERNALAXIS_REFPOINT_B = 0
EXTERNALAXIS_REFPOINT_C = 0
EXTERNALAXIS_CMDDONETIME = 1000
EXTERNALAXIS_CMDDONERANGE = 0.1

[DH_PARA]
EXTERNALAXIS_CONFIGURE = 0
EXTERNALAXIS_DH_D1 = 0
EXTERNALAXIS_DH_D2 = 0
EXTERNALAXIS_DH_D3 = 0
EXTERNALAXIS_DH_D4 = 0
EXTERNALAXIS_DH_A1 = 0
EXTERNALAXIS_DH_A2 = 0
EXTERNALAXIS_DH_A3 = 0
EXTERNALAXIS_DH_A4 = 0
